:root {
  --b-color-nav: #007eff;
  --b-color-hot: #ff6007;
  --b-color-hot1: #ea5f28;
  --b-color-hot2: #d54b13;
  --b-color-succ: #26da7a;
  --b-color-dang: #fe5959;
  --b-color-warn: #ffcc3b;
  --b-color-body: #20263d;
  --b-color-body1: #314559;
  --b-color-body2: #91a6b4;
  --b-color-body3: #b2c5d1;
  --b-color-body4: #dbe5ee;
  --b-color-body5: #f2f6f9;
  --b-color-body6: #fff;
  --b-spacing-xxs: 2px;
  --b-spacing-xs: 4px;
  --b-spacing-s: 8px;
  --b-spacing-m: 16px;
  --b-spacing-ms: 24px;
  --b-spacing-l: 32px;
  --b-spacing-xl: 64px;
  --b-spacing-xxl: 128px;
  --b-size-xxs: 8px;
  --b-size-xs: 16px;
  --b-size-s: 24px;
  --b-size-m: 32px;
  --b-size-l: 40px;
  --b-size-xl: 64px;
  --b-size-xxl: 128px;
  --b-size-xxxl: 152px;
  --b-icon-size-s: 16px;
  --b-icon-size-m: 32px;
  --b-font-size-xxs: 8px;
  --b-font-size-xs: 10px;
  --b-font-size-s: 12px;
  --b-font-size-m: 14px;
  --b-font-size-l: 16px;
  --b-font-size-xl: 20px;
  --b-font-size-xxl: 24px;
  --b-font-size-xxxl: 32px;
  --b-font-size-xxxxl: 48px;
  --b-font-size-xxxxxl: 64px;
  --b-font-weight-regular: 400;
  --b-font-weight-semibold: 600;
  --b-font-weight-bold: 700;
  --b-line-height-xxs: 8px;
  --b-line-height-xs: 10px;
  --b-line-height-s: 12px;
  --b-line-height-m: 14px;
  --b-line-height-l: 16px;
  --b-line-height-xl: 20px;
  --b-line-height-xxl: 24px;
  --b-line-height-xxxl: 32px;
  --b-line-height-xxxxl: 48px;
  --b-line-height-xxxxxl: 64px;
  --b-border-width-m: 1px;
  --b-border-width-l: 2px;
  --b-border-width-xl: 4px;
  --b-border-width-xxl: 8px;
  --b-border-radius-s: 4px;
  --b-border-radius-m: 8px;
  --b-border-radius-l: 16px;
  --b-border-radius-xl: 32px;
}
