.general {
  border: 1px solid var(--b-color-body5);
  background: var(--b-color-body6);
  box-shadow: 4px 5px 10px -6px var(--b-color-body1);
}

.divider {
  margin: 0;
}

.item {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
